html,body {
	width: 100%;
	height:100%;
	margin: 0;
	background-color:#FFFFFF;

}
.headline{

	width: 100%;
}
.menu {
	
}
.line {
	margin: 3% 0 3% 0;
}
.title {
	margin: 3% 0 3% 0;
}
.text {
	width: 75%;
	height :50%;
	background-color: #6a5acd;
}

.twitter{
	
	position:relative;
	top:200px;
	left:700px;
}